h1{
    color: red;
    display: flex;
    justify-content: center;
}


.button{
    color:white;
    background-color: blue;
    padding: 5px 5px 5px 5px;


}


.buttonClass{
    display: flex;
    justify-content: center;
}